*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* utility class */
a{
	text-decoration: none;
}
.inline{
	display: inline-block;
}
ul li{display: inline-block;
padding: 10px;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.clearfix::after{
	clear: both;
	display: table;
	content: "";
}

.container{
	width:1000px;
	min-width:1000px;
	margin: 0 auto;
}
.en{
	display: inline-block;
	padding: 15px;
}

.bord{
	border-right:1px solid black;
	padding-right: 10px;
	height: 3px;
	line-height: 3px;
}

.log{
	border-radius:3px;
	border: 1px solid  #ff4d4d;
	background: #fff;
	padding: 5px;
}
.log2{
	border-radius:3px;
	background:  #ff4d4d; ;
	padding:4px 6px 4px 6px;
	color: #fff;
}
.pad30{
	padding: 30px;
}

/* end utility class */

header{
	position: relative;
	width: 100%;
	height:700px;
	background-image: url(../img/jumbotron.png);
	background-position:right bottom;
	background-repeat: no-repeat;
}
/* PARTE SUPERIORE HEADER */

/* PRIMA ROW HEADER COLOR VERDE CHIARO */
.top-header{
	width: 100%;
	height:80px;
	background: #66ffff;
	padding-top: 10px;
	border-bottom: 2px solid #666666;
}

.content-top-header a{
	color:#737373;
}

/* SECONDA ROW HEADER BIANCA */
.top-header-second{
	width: 100%;
	height:80px;
	position: relative;
	padding: 20px;
	background: #fff;
}

.logo-hub img{
	width: 70px;
	height:100px;
	position: absolute;
	top:0px;
	}

.right-nav{
	position: relative;
	top: 10px;
}

/* FINE PARTE SUPERIORE HEADER */

/* TESTO BACKGROUND */

.text-background{
	width: 500px;
	height: 100px;
	font-size: 30px;
	padding-top: 100px;
		color:#737373;
}

.market-sales{
padding-top:60px;
color:#737373;
}

.get-hubfree{
	margin-top: 30px;
	width: 120px;
}

.get-hubfree a{
		color:#737373;
}
/* FINE TESTO BACKGROUND */
header:before{
	content: "";
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height:80px;
	background:  #66ffff;
	border-top: 3px solid ;
	color:  #33475b;
}

/* POWERFUL ALONE. BETTER TOGETHER PART*/
.power-better-part{
	background: #e6fff2;
}

.square-img img{
	width: 200px;
	height: 200px;
}

.square-img{
	position: relative;
	top: 50%;
	left: 44%;
}
/* TEXT part */

.text-part h2 {
	text-align: center;
	color:#4d4d4d;
	padding: 15px;
	font-size: 40px;
}
.text-part p{
	color:#4d4d4d;
	padding: 15px;
	text-align: center;
	font-size: 20px
}
/* end text part */

/* box free hub */

.box-free-hubspot{
	height: 300px;
	width: 100%;
	margin-top: 30px;
	background: #fff;
}
/* book e pulsante learn more */
.book-learn{
	width: 30%;
	height: 200px;
	padding-top:80px;
}
/* freehub e contact, deals, task */
.popolar-feat{
	width: 70%;
	height: 299px;
	padding-left: 0;
}
.popolar-feat h2{
	padding: 40px;
	padding-left: 0;
}
.popolar-feat p{
	font-size: 15px;
	padding-bottom: 10px;
}
ul li span{
	padding-left: 10px;
}
/* inizio box marketing sales e service hub */
.conteiner-3box{
	width: 100%;
	height: 700px;
	padding: 50px 0;

}
/* caratteristiche dei 3 box */
.box{
	position: relative;
	width: 30%;
	height: 650px;
	background:#fff;
	margin-left:25px;
	padding: 10px;
}
.box .top-box img{
	position: relative;
	left: 30%;
	top: 10px;

}

.top-box{
	width: 90%;
	height: 50%;
	margin: 10px auto;
}

.down-box{
	height: 45%;
	width:90%;
	margin: 0 auto;
}
.top-box h3{
	text-align: center;
	padding: 10px;
	font-size: 25px;
}
.top-box p{
	padding: 20px;
	font-size: 15px;
	text-align: center;
}
.down-box ul li{
	display: block;
	padding-top: 3px;
}

.down-box ul li:first-child{
	padding-top: 30px;
}

.down-box h3{
	text-align: center;
  color:#4d4d4d;
}

.down-box .log2{
	text-align: center;
}
/* fine box marcketing sales e service hub */
